/TODO.txt
/.devtools
/.devtools-deploy
/.server
/.server-deploy
/.server-pushed
/.client
/.client-deploy
/.client-pushed
/.secrets
/client/utils.sh
/server/plugins/utils.sh
/_old

# PRODUCTION SETUP: remove these lines
/client/ssl
/server/ssl
/secrets/
